langchain
langchain_groq
langchain-ollama
python-dotenv
langchain_community
streamlit
langchain_huggingface
pypdf
faiss-cpu
sentence-transformers
huggingface_hub
PyPDF2
langchain-core
torch
chromadb
bs4
langchain-text-splitters
duckdb
duckduckgo-search